#phrases_wrapper {
	width: 320px;
    background-color: #f3f7fa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#footerBtnListen {
    position: fixed;
    right: 36%;   
    top: 90%;
    padding: 5px;
    background: #ffe;
    border: 1px solid #333;
    border-radius: 10px;  
}	
  
#footerBtnListen:hover {
    color: #d04a3d;
    border-color: #d04a3d;
    cursor: pointer;
    background-color: yellow;
}
