
.question_test {
	text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  color: black;
	padding-top: 5px;
  padding-bottom: 5px;	
	margin-top: 5px;
	margin-bottom: 5px;
}	

#number_question{
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  color: black;
	padding-top: 5px;
  padding-bottom: 5px;	
	margin-top: 5px;
	margin-bottom: 5px;
  text-decoration: underline;
}
