/****** FOOTER **************************************/
.footer_site {
	width: 400px;
	margin-left: auto;
  margin-right: auto;
  text-align:  center;
  margin-top: 50px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 200;
  color: black;
}

#electronicMail{
  display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px 2em;
  text-align:  center;
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 12px;
}

#imgElectronicMail{
  width: 20px;
  height: 20px;
  text-align:  center;
  margin-left: 80%;
  font-family: "Open Sans";
  font-size: 12px;
}

#aFormLetter{
/*  width: 20px;*/
  height: 20px;
  width: 60px;
  margin-right: 90%;
  /*vertical-align: middle;*/
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 200;
  color: black; 
}

a:hover{
  background-color: yellow;
}

hr{
  background-color: black;
}

#emailForm{
  width: 400px;
	margin-left: auto;
  margin-right: auto;
  text-align:  center;
  margin-top: 5px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 200;
  color: black; 
  background-color: #f0f8ff;
}

#inputEmail{
  width: 360px;
  height: 20px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align:  left;
  margin-top: 5px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 200;
  color: black; 
}

#contactComment{
  width: 360px;
  height: 300px;
	margin-left: auto;
  margin-right: auto;
  text-align:  left;
  margin-top: 5px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 200;
  color: black; 
}

#emailSubmit{
  width: 360px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align:  center;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 200;
  color: black; 
  cursor: pointer;
}

#emailSubmit:hover{
  background-color: yellow;
}

#errorEmail{
  width: 360px;
  height: 20px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align:  left;
  margin-top: 5px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 200;
  color: red; 
} 

#sendOK{
  width: 400px;
  height: 60px;
  display: none;
  background-color: #f0f8ff;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 20px;
  text-align:  center;
  vertical-align: middle;
  margin-top: 5px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 200;
  color: black; 
}
